@import '../../../variables'

.bottom-navigation
    width: 100%
    background: $secundario-oscuro

    a
        flex: 1
        padding: 5px 0
        color: $blanco
        cursor: pointer

        &:hover
            background: $asento

    p
        margin: 0
        padding: 0
        text-transform: uppercase

    .active-routing
        background: $asento

    .data
        color: red
