@import ../../../../variables

.item
    overflow: hidden
    margin: 10px 0

.h-item
    background-color: $asento
    border-radius: 5px

.h-item > *
    color: white

.c-row
    border-bottom: solid 1px $secundario-oscuro

.t-button
    background: $primario
    color: white

.icon
    color: white

img
    height: 120px
    object-fit: contain

.b-content
    .c-row
        background: white
