<div class="row item my-3" #mItem>
    <div class="col-12">    
        <div class="row py-3 c-row h-item">    
            <div class="col-10"><b>Nombre: {{name}}</b></div>
            <div class="col-2">
                <button class="btn" (click)="showItem()" #show> 
                    <i class="fas fa-angle-down icon"></i>
                </button>
            </div>
        </div>
        <div [ngClass]="{'hidden': isShowed }">
            <div class="row py-3 c-row">
                <div class="col-12">Precio: COL {{price}}</div>
            </div>
            <div class="row py-3 c-row">
                <div class="col-12">Descripcion: {{description}}</div>
            </div>
            <div class="row py-3 c-row">
                <img src={{urlPhoto}} alt="">
            </div>
            <div class="row button">
                <button class="btn t-button" (click)="delete()">Eliminar <i class="fas fa-minus-circle icon"></i></button>
            </div>
        </div>
    </div>
</div>