<div class="menu-cont">
    <div class="container">
        <div class="cont-img centro">
            <img src="../../assets/icons/icon-128x128.png" alt="">
        </div>
        <div class="cont-text centro">
            <h5>¡Hola <b class="acento">Cliente</b>!</h5>
        </div>
        <div class="cont-text centro">
            <h6>Necesitamos que ingrese el menu de su restaurante</h6>
        </div>
        <app-menu-option [nameOption] = platoFuerte [items]= platosFuertes></app-menu-option>
        <app-menu-option [nameOption] = platoCorriente [items]= platosCorrientes></app-menu-option>
        <app-menu-option [nameOption] = bebidas [items]= drinks></app-menu-option>
        <app-menu-option [nameOption] = entradas [items]= entrances></app-menu-option>
        <app-menu-option [nameOption] = adicionales [items]= additionals></app-menu-option>
        <div class="cont-btn centro">
            <input type="submit" class="btn add-btn-menu" value="INGRESAR MENU">
        </div>
    </div>
</div>