@import ../../colores
    
.menu-cont
    max-width: 360px    
    height: 100vh

.cont-img
    height: 150px
    
.cont-text
    height: 30px

.acento
    color: $asento

.cont-btn
    height: 100px

.add-btn-menu   
    background-color: $asento
    color: $texto-primario
    width: 100%