<div *ngIf="alertError" class="fixed-top alert alert-danger text-center" role="alert">
    {{alertError}}
</div>

<div class="menu-cont">
    <div class="container">
        <div class="cont-img centro">
            <img src="../../assets/icons/set-menu.svg" alt="">
        </div>
        <div class="cont-text centro">
            <h5>¡Hola <b class="acento">{{name}}</b>!</h5>
        </div>
        <div class="cont-text centro">
            <h6>Necesitamos que ingrese el menu de su {{type}}</h6>
        </div>

        <app-menu-option *ngFor="let item of items" [items]="item.items" [optionName]="item.text"></app-menu-option>

        <div class="cont-btn centro">
            <input type="submit" class="btn add-btn-menu" [value]="btnSaveMenu" (click)="save()">
        </div>
    </div>
</div>