<div *ngIf="alertSuccess" class="fixed-top alert alert-primary text-center" role="alert">
    {{alertSuccess}}
</div>

<div *ngIf="alertError" class="fixed-top alert alert-danger text-center" role="alert">
    {{alertError}}
</div>

<div class="login-cont">
    <div class="cont-img-logo centro">
        <img src="./assets/icons/logo.svg" alt="">
    </div>
    <div class="cont-inputs">
        <form [formGroup]="form" (ngSubmit)="loginUser($event)">
            <div class="cont-input centro">
                <input type="email" formControlName="email" class="form-control input-style" placeholder="Correo">
            </div>
            <div class="cont-input centro">
                <input type="password" formControlName="password" class="form-control input-style"
                    placeholder="Contraseña">
            </div>
            <div class="cont-input centro">
                <input type="submit" id="ISbtn" class="btn btn-block" [value]="btnLoginText"
                    [disabled]="this.form.invalid">
            </div>
            <div class="cont-input centro">
                <small><b>¿Olvidó la Contraseña? </b> <a href="#"><b class="TRC">Recuperar contraseña</b></a></small>
            </div>

            <div class="cont-input centro">
                <a routerLink="/register" id="Rbtn" class="btn btn-block">REGISTRARSE</a>
            </div>
        </form>
    </div>
</div>