<div class="login-cont">
    <div class="cont-img-logo centro">
        <img src="./assets/icons/logo.svg" alt="">
    </div>
    <div class="cont-inputs">
        <form action="" method="get">
            <div class="cont-input centro">
                <input type="email" name="" class="form-control input-style" placeholder="Correo">
            </div>
            <div class="cont-input centro">
                <input type="password" name="" class="form-control input-style" placeholder="Contraseña">
            </div>
            <div class="cont-input centro">
                <input type="submit" name="" id="ISbtn" class="btn btn-block" value="INICIAR SESION">
            </div>
            <div class="cont-input centro">
                <small><b>¿Olvidó la Contraseña? </b> <a href="#"><b class="TRC">Recuperar contraseña</b></a></small>
            </div>

            <div class="cont-input centro" routerLink="/register">
                <input type="submit" name="" id="Rbtn" class="btn btn-block" value="REGISTRARSE">
            </div>
        </form>
    </div>
</div>