@import '../../variables'

.register-restaurant
    max-width: 350px

    &--logo
        height: 150px

    &--message
        font-weight: bold
        margin: 1rem 0
        text-align: center

        p
            margin: 0

    &--inputs
        width: 90%

    label
        margin: 0px

    .input-style
        width: 100%
        // border: solid 2px
        border-radius: 10px
        height: 50px

    .capitalize
        text-transform: capitalize

    #REbtn
        margin: 40px 0
        width: 100%
        border-radius: 10px
        color: $texto-primario
        height: 50px
        background-color: $asento
        color: $texto-primario

    #formFileLg
        width: -webkit-fill-available

    .TRC
        color: $asento
