<div *ngIf="alertError" class="fixed-top alert alert-danger text-center" role="alert">
    {{alertError}}
</div>

<div class="register-restaurant">
    <div class="register-restaurant--logo centro">
        <img src="./assets/icons/logo-register-restaurante.svg" alt="">
    </div>
    <div class="register-restaurant--message">
        <h4>¡Hola <span class="TRC">{{name}}</span>!</h4>
        <p>Necesitamos que registre un restaurante en el sistema</p>
    </div>
    <div class="centro">
        <form class="register-restaurant--inputs" [formGroup]="form" (ngSubmit)="registerRestaurant($event)">
            <div class="row">
                <input type="text" formControlName="name" placeholder="Nombre"
                    class="form-control input-style col m-1 capitalize">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Launch demo modal
                </button>
            </div>

            <div class="row">
                <div class="col p-0 m-1">
                    <label for="basic-url" class="form-label">Horario de inicio</label>
                    <div class="input-group">
                        <input type="time" formControlName="dateStart" class="form-control input-style">
                    </div>
                </div>
                <div class="col p-0 m-1">
                    <label for="basic-url" class="form-label">Horario de cierre</label>
                    <div class="input-group">
                        <input type="time" formControlName="dateEnd" class="form-control input-style">
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="number" formControlName="countTables" placeholder="Cantidad mesas"
                    class="form-control input-style col m-1">
                <input type="number" formControlName="phone" placeholder="Telefono fijo"
                    class="form-control input-style col m-1">
            </div>
            <div class="row">
                <select class="form-control input-style col m-1 form-select" formControlName="type">
                    <option disabled selected value>-- Tipo de establecimiento --</option>
                    <option value="restaurante">Restaurante</option>
                    <option value="cafeteria">Cafetería</option>
                    <option value="heladeria">Heladería</option>
                    <option value="bar">Bar</option>
                </select>
            </div>
            <div class="row">
                <input type="file" formControlName="filePhoto" (change)="changeFile($event)" class="form-control m-1"
                    accept="image/png, image/jpeg" id="formFileLg">
            </div>
            <div class="cont-input centro">
                <input type="submit" id="REbtn" class="btn btn-block" [value]="btnRegisterRestaurantText"
                    [disabled]="form.invalid || !coords">
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                <div id="geocoder" #asGeocoder></div>
                <div id="map" class="modal-body" #asMap></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>Close</button>
                <button type="button" class="btn btn-primary" (click)="getCoords()">Save changes</button>
            </div>
        </div>
    </div>
</div>