<div class="d-flex justify-content-center spinner align-items-center" #spinner>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="reservation d-flex flex-column">
    <div class="reservation-header d-flex justify-content-center align-items-center w-100">
        <span class="c-pointer m-2 ms-4" (click)="onBack()">
            <i class="fas fa-chevron-circle-left"></i>
        </span>
        <h3>Reservación en <span>{{data.name}}</span></h3>
    </div>
    <img class="reservation-background" [src]="data.urlPhoto" alt="">
    <div class="reservation-content w-100 px-2">
        <div class="reservation-restaurant">
            <div class="d-flex align-items-center">
                <div class="w-100">
                    <h3>{{data.name}}</h3>
                    <p>{{data.type}}</p>
                </div>
                <span class="badge bg-secondary" [ngClass]="{'bg-red':data.open}">{{data.open ? 'ABIERTO AHORA' :
                    'CERRADO'}}</span>
            </div>
            <hr>
            <div class="reservation-restaurant--items d-flex justify-content-center">
                <div *ngIf="data.stars > 0" class="d-flex flex-column align-items-center">
                    <i class="fas fa-star color-red"></i>
                    <span>{{data.stars}} ({{data.countStars}})</span>
                </div>
                <a *ngIf="data.phone" href="tel:{{data.phone}}"
                    class="d-flex flex-column align-items-center color-acento">
                    <i class="fas fa-phone"></i>
                    <span>Llamar</span>
                </a>
                <a *ngIf="data.email" href="mailto:juan@ireserve.com"
                    class="d-flex flex-column align-items-center color-acento">
                    <i class="fas fa-envelope-open-text"></i>
                    <span>Enviar correo</span>
                </a>
            </div>
        </div>
        <div class="reservation-collapse my-2">
            <div class="card my-2">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed color-acento" data-bs-toggle="collapse"
                            data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                            INFORMACIÓN PERSONAL
                        </button>
                    </h5>
                </div>
                <div id="collapse-1" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="reservationName" class="form-label">A nombre de:</label>
                            <input #inputName type="text" class="form-control" id="reservationName"
                                aria-describedby="emailHelp"
                                [value]="data.user && data.user.firstname ? data.user.firstname : null">
                            <div id="emailHelp" class="form-text">Puede modificar el nombre para la reservación.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="reservationPhone" class="form-label">Teléfono de contacto:</label>
                            <input #inputPhone type="phone" class="form-control" id="reservationPhone"
                                aria-describedby="emailHelp"
                                [value]="data.user && data.user.phone ? data.user.phone : null">
                            <div id="emailHelp" class="form-text">Puede modificar el teléfono para la reservación.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed color-acento" data-bs-toggle="collapse"
                            data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            INFORMACIÓN DE LA RESERVACIÓN
                        </button>
                    </h5>
                </div>
                <div id="collapse-2" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <label class="form-label">Cantidad de sillas:</label>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input (click)="onItemChange(2)" type="radio" class="btn-check" name="countChairs"
                                    id="chair-1" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="chair-1">2 sillas</label>

                                <input (click)="onItemChange(4)" type="radio" class="btn-check" name="countChairs"
                                    id="chair-2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="chair-2">4 sillas</label>

                                <input (click)="onItemChange(6)" type="radio" class="btn-check" name="countChairs"
                                    id="chair-3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="chair-3">+6 sillas</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed color-acento" data-bs-toggle="collapse"
                            data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                            FECHA Y HORA
                        </button>
                    </h5>
                </div>
                <div id="collapse-3" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <label class="form-label"><strong>Día reservación</strong></label>
                        <mbsc-datepicker #picker_day headerText="Usted seleccionó {value}" display="inline" [weeks]="2"
                            (click)="onChange()" [controls]="['calendar']" [touchUi]="true" [min]="min" [max]="max">
                        </mbsc-datepicker>
                        <hr>
                        <label class="form-label"><strong>Hora reservación</strong></label>
                        <mbsc-datepicker #picker_hour headerText="Usted seleccionó {value}"
                            [ngClass]="['calendar-times']" display="inline" [controls]="['time']" [touchUi]="true"
                            [stepMinute]="30" [min]="data.dateStart" [max]="data.dateEnd" (click)="onChange()">
                        </mbsc-datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-send w-100 m-auto px-2">
        <button [disabled]="disabledButton" type="button"
            class="btn btn-primary btn-lg btn-block w-100 my-2 d-flex justify-content-center align-items-center"
            (click)=" sendReservation()">
            <span *ngIf="disabledButton" class="spinner-border spinner-border-sm mx-2" role="status"
                aria-hidden="true"></span>
            {{disabledButton ? 'CARGANDO' : 'AGENDAR RESERVACIÓN'}}</button>
    </div>
</div>