<div class="cont-option">
    <div class="row name-option center-h pt-3">
        <div class="col-10"><b>{{nameOption}}</b></div>
        <div class="col-2 centro">
            <button class="btn" (click)="showListOfItems()">
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
    </div>
    <div class="cont-items hidden" #show>
        <app-menu-item *ngFor="let pf of items" cItems [name]=pf.name [price]=pf.price [items]=items></app-menu-item>
        <div class="row pt-3">
            <div class="col-6">
                <input type="text" placeholder="Nombre" class="form-control input-style" #addName>
            </div>
            <div class="col-6">
                <input type="text" placeholder="Precio" class="form-control input-style" #addPrice>
            </div>
        </div>
        <div class="row centro">
            <button class="btn" (click)="add()">Agregar <i class="fas fa-plus-circle"></i></button>
        </div>
    </div>
</div>