<div class="header-logo w-100 m-auto text-center my-2">
    <a [routerLink]="['/']"><img src="./assets/icons/ireserve-logo-texto.svg" alt=""></a>
</div>
<div class="container-main">
    <div class="my-3">
        <strong>Reservaciones pendientes</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Transacciones que hacen falta confirmación del restaurante.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <div class="reservations">
            <div *ngFor="let item of pending; index as i" class="reservation" #itemsPending>
                <div class="reservation-header d-flex justify-content-center align-items-center">
                    <div class="w-100">
                        <h4>{{item.restaurant}}</h4>
                        <p>{{item.date}}</p>
                    </div>
                    <span (click)="collapsingCard(0, i)"><i class="fas fa-chevron-down"></i></span>
                </div>
                <div class="hidden reservation-body d-flex flex-column justify-content-center align-items-center">
                    <span class="w-100 px-3"><strong class="pe-1">Nombre:</strong>{{item.name}}</span>
                    <span *ngIf="item.address" class="w-100 px-3"><strong
                            class="pe-1">Dirección:</strong>{{item.address}}</span>
                    <span class="w-100 px-3"><strong class="pe-1">Cantidad sillas:</strong>{{item.chairs}}</span>
                    <span class="w-100 px-3"><strong class="pe-1">Creación:</strong>{{item.dateStart}}</span>
                    <button class="btn col-10 btn-primary my-2">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <strong>Reservaciones activas</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Transacciones activas por el usuario.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <div class="reservations">
            <div *ngFor="let item of active;index as i" class="reservation reservation-active" #itemsActive>
                <div class="reservation-header d-flex justify-content-center align-items-center">
                    <div class="w-100">
                        <h4>{{item.restaurant}}</h4>
                        <p>{{item.date}}</p>
                    </div>
                    <span (click)="collapsingCard(1, i)"><i class="fas fa-chevron-down"></i></span>
                </div>
                <div class="hidden reservation-body d-flex flex-column justify-content-center align-items-center">
                    <span class="w-100 px-3"><strong class="pe-1">Nombre:</strong>{{item.name}}</span>
                    <span *ngIf="item.address" class="w-100 px-3"><strong
                            class="pe-1">Dirección:</strong>{{item.address}}</span>
                    <span class="w-100 px-3"><strong class="pe-1">Cantidad sillas:</strong>{{item.chairs}}</span>
                    <span class="w-100 px-3"><strong class="pe-1">Creación:</strong>{{item.dateStart}}</span>
                    <button class="btn col-10 btn-primary my-2">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <strong>Reservaciones anteriores</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Historial de transacciones completadas.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <div class="reservations reservations-column">
            <div *ngFor="let item of complete;index as i" class="reservation reservation-complete" #itemsComplete>
                <div class="reservation-header d-flex justify-content-center align-items-center">
                    <div class="w-100">
                        <h4>{{item.restaurant}}</h4>
                        <p>{{item.date}}</p>
                    </div>
                    <span (click)="collapsingCard(2, i)"><i class="fas fa-chevron-down"></i></span>
                </div>
                <div class="hidden reservation-body d-flex flex-column justify-content-center align-items-center">
                    <span class="w-100 px-3"><strong class="pe-1">Nombre:</strong>{{item.name}}</span>
                    <span *ngIf="item.address" class="w-100 px-3"><strong
                            class="pe-1">Dirección:</strong>{{item.address}}</span>
                    <span class="w-100 px-3"><strong class="pe-1">Cantidad sillas:</strong>{{item.chairs}}</span>
                    <span class="w-100 px-3"><strong class="pe-1">Creación:</strong>{{item.dateStart}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-bottom-navigation [user]="user"></app-bottom-navigation>