<div class="d-flex justify-content-center spinner align-items-center" #spinner>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="header-logo w-100 m-auto text-center my-2">
    <a [routerLink]="['/']"><img src="./assets/icons/ireserve-logo-texto.svg" alt=""></a>
</div>
<div class="container-main">
    <div class="py-3">
        <strong>Reservaciones pendientes</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Transacciones que hacen falta confirmación del restaurante.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <app-card-reservation class="reservations" [items]="reservations" [isClient]=isClient [key]="'pended'">
        </app-card-reservation>
        <span *ngIf="!reservations.pended?.length" class="w-100 text-center d-block">No hay reservas
            pendientes.</span>
    </div>
    <div class="py-3">
        <strong>Reservaciones activas</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Transacciones activas por el usuario.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <app-card-reservation class="reservations" [items]="reservations" [isClient]=isClient [key]="'actived'">
        </app-card-reservation>
        <span *ngIf="!reservations.actived?.length" class="w-100 text-center d-block">No hay reservas
            activas.</span>
    </div>
    <div class="py-3">
        <strong>Reservaciones canceladas</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Transacciones canceladas por el usuario.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <app-card-reservation class="reservations" [items]="reservations" [isClient]=isClient [key]="'canceled'">
        </app-card-reservation>
        <span *ngIf="!reservations.canceled?.length" class="w-100 text-center d-block">No hay reservas
            canceladas.</span>
    </div>
    <div class="py-3">
        <strong>Reservaciones rechazadas</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Transacciones rechazas por el restaurante.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <app-card-reservation class="reservations" [items]="reservations" [isClient]=isClient [key]="'declined'">
        </app-card-reservation>
        <span *ngIf="!reservations.declined?.length" class="w-100 text-center d-block">No hay reservas
            rechazadas.</span>
    </div>
    <div class="py-3">
        <strong>Reservaciones anteriores</strong>
        <span class="d-inline-block mx-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-content="Historial de transacciones completadas.">
            <i class="far fa-question-circle"></i>
        </span>
        <hr>
        <app-card-reservation class="reservations reservations-column" [items]="reservations" [isClient]=isClient
            [key]="'completed'">
        </app-card-reservation>
        <span *ngIf="!reservations.completed?.length" class="w-100 text-center d-block">No hay reservas previas.</span>
    </div>
</div>
<app-bottom-navigation [user]="user"></app-bottom-navigation>