<div class="card card-restaurant my-2 h-100">
    <span class="card-status" [class.card-status-open]="item.open">{{ item.open ? 'Abierto ahora' : 'Cerrado' }}</span>
    <a [routerLink]="['/restaurant', item.id]">
        <img class="card-img-top" [src]="item.urlPhoto" alt="Card image cap">
    </a>
    <div class="card-body d-flex flex-column justify-content-center">
        <div class="column d-flex align-items-center justify-content-between">
            <h4 [routerLink]=" ['/restaurant', item.id]" class="card-heading c-pointer">{{item.name}}</h4>
            <div class="stars">
                <span *ngFor="let i of [1,2,3,4,5];" class="fa fa-star" [class.checked]="i<item.stars"></span>
            </div>
        </div>
        <div class="column d-flex align-items-center justify-content-between">
            <span class="card-category">{{item.type}}</span>
            <strong>
                <i class="fas fa-map-marker-alt mx-1"></i>
                <span>{{item.diff}}</span>
            </strong>
        </div>
    </div>
</div>