@import '../../colores'

$breakpoint-tablet: 700px
$breakpoint-laptop: 1024px

.cardsRestaurant
    max-width: $breakpoint-laptop
    display: grid
    grid-template-columns: repeat(1, 1fr)

    @media screen and (min-width: $breakpoint-tablet)
        grid-template-columns: repeat(2, 1fr)
