@import '../../colores'

$breakpoint-tablet: 700px
$breakpoint-laptop: 1024px

:host
    min-height: 100vh

.header-logo
    img
        width: 250px

.container-home
    max-width: $breakpoint-laptop
