<div class="registro-cont">
    <div class="cont-img-logo centro">
        <img src="./assets/icons/logo.svg" alt="">
    </div>
    <div class="centro">
        <form class="cont-inputs" [formGroup]="form" (ngSubmit)="registerRole($event)">
            <div class="row">
                <div class="col my-1">
                    <input type="text" formControlName="firstname" id="" placeholder="Nombre"
                        class="form-control input-style">
                </div>
                <div class="col my-1">
                    <input type="text" formControlName="lastname" id="" placeholder="Apellido"
                        class="form-control input-style">
                </div>
            </div>
            <div class="row">
                <div class="col my-1">
                    <input type="text" formControlName="email" id="" placeholder="Correo"
                        class="form-control input-style">
                </div>
                <div class="col my-1">
                    <input type="text" formControlName="password" id="" placeholder="Contraseña"
                        class="form-control input-style">
                </div>
            </div>
            <div class="row">
                <div class="col my-1">
                    <input type="text" formControlName="phone" id="" placeholder="Telefono"
                        class="form-control input-style">
                </div>
                <div class="col my-1">
                    <select class="input-style form-select" formControlName="role">
                        <option selected>Rol</option>
                        <option value="Usuario">Usuario</option>
                        <option value="Cliente">Cliente</option>
                    </select>
                </div>
            </div>
            <div class="cont-input centro">
                <input type="submit" id="REbtn" class="btn btn-block" value="REGISTRARSE" [disabled]="form.invalid">
            </div>
            <div class="cont-input centro">
                <small><b>¿Ya tiene una cuenta? </b> <a routerLink="/login"><b class="TRC">Iniciar
                            sesion</b></a></small>
            </div>
        </form>
    </div>
</div>