<div class="registro-cont">
    <div class="cont-img-logo centro">
        <img src="./assets/icons/logo.svg" alt="">
    </div>
    <div class="centro">
        <form action="" method="get" class="cont-inputs">
            <div class="row">
                <div class="col my-1">
                    <input type="text" name="" id="" placeholder="Nombre" class="form-control input-style">
                </div>
                <div class="col my-1">
                    <input type="text" name="" id="" placeholder="Apellido" class="form-control input-style">
                </div>
            </div>
            <div class="row">
                <div class="col my-1">
                    <input type="text" name="" id="" placeholder="Correo" class="form-control input-style">
                </div>
                <div class="col my-1">
                    <input type="text" name="" id="" placeholder="Contraseña" class="form-control input-style">
                </div>
            </div>
            <div class="row">
                <div class="col my-1">
                    <input type="text" name="" id="" placeholder="Telefono" class="form-control input-style">
                </div>
                <div class="col my-1">
                    <select class="input-style form-select">
                        <option selected>Rol</option>
                        <option value="Usuario">Usuario</option>
                        <option value="Cliente">Cliente</option>
                    </select>
                </div>
            </div>
            <div class="cont-input centro">
                <input type="submit" name="" id="REbtn" class="btn btn-block" value="INICIAR SESION">
            </div>
            <div class="cont-input centro">
                <small><b>¿Ya tiene una cuenta? </b> <a href="#"><b class="TRC">Iniciar sesion</b></a></small>
            </div>
        </form>
    </div>
</div>
