<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button *ngFor="let item of itemsCarouselRestaurant, index as i" type="button" data-bs-target="#carousel"
            [attr.data-bs-slide-to]=i [class.active]="i==0" data-bs-interval="5000" aria-current="true"
            aria-label="Slide i"></button>
    </div>
    <div class="carousel-inner">
        <div *ngFor="let item of itemsCarouselRestaurant; index as i" class="carousel-item" [class.active]="i==0">
            <a [routerLink]="['/restaurant', item.idRestaurant]">
                <img [src]="item.url" class="d-block w-100" alt="Banner item.name">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>{{item.name}}</h5>
                <p>{{item.desc}}</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>
<div class="breadcrumb-items">
    <div (click)="filterCategory(item.key)" *ngFor="let item of itemsCategories;index as i" class="category"
        [class.breadcrumb-active]="filter===item.key">
        <img src="./assets/icons/{{item.key}}.svg" alt="">
        <p>{{item.name}}</p>
    </div>
</div>

<p *ngIf="itemsRestaurant.length === 0" class="text-center my-4">No hay {{filter === 'todos' ? 'establecimiento' :
    filter}} alrededor.</p>

<div class="cardsRestaurant">
    <app-card-restaurant class="my-1" *ngFor="let item of itemsRestaurant" [item]="item">
    </app-card-restaurant>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>