@import '../../../variables'

#carousel
    margin: 0 20px
    border-radius: 7px
    overflow: hidden

    img
        height: 150px
        object-fit: cover

    .carousel-caption
        background: rgba(0, 0, 0, .8)
        position: initial

.cardsRestaurant
    padding-bottom: 80px
    display: grid
    margin: 0 20px
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 20px

    @media screen and (min-width: $breakpoint-tablet)
        grid-template-columns: repeat(2, 1fr)

    @media screen and (min-width: $breakpoint-laptop)
        grid-template-columns: repeat(3, 1fr)

.c-pointer
    cursor: pointer

.breadcrumb-items
    display: -webkit-flex
    overflow-x: scroll
    padding: 20px 0

    .breadcrumb-active
        background: rgb(255 0 0 / 33%)
        color: $primario

    *
        width: 120px
        display: table
        margin: 0 5px
        text-align: center
        border-radius: 5px
        padding: 5px 0
