<div class="cont-profile">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="centro cont-logo">
                    <img [src]="urlPhoto" class="logo" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="centro">
                    <strong>Correo: </strong>
                    <p class="my-2">{{user.email}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panel-profile">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelProfile"
                    aria-expanded="true" aria-controls="panelProfile">
                    Información personal
                </button>
            </h2>
            <div id="panelProfile" class="accordion-collapse collapse show" aria-labelledby="panel-profile">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-6 info v-center">
                            <h5>Nombre:</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>{{user.firstname}}</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>Apellido:</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>{{user.lastname}}</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>Teléfono:</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>{{user.phone}}</h5>
                        </div>
                        <div class="col-12 info text-center">
                            <a [routerLink]="['/user-info', user.uid]">
                                <button class="btn e-button"><i class="far fa-edit"></i> Editar Información</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isClient" class="accordion-item">
            <h2 class="accordion-header" id="panel-restaurant">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelRestaurant" aria-expanded="true" aria-controls="panelRestaurant">
                    Información del restaurante
                </button>
            </h2>
            <div id="panelRestaurant" class="accordion-collapse collapse show" aria-labelledby="panel-restaurant">
                <div class="accordion-body">

                    <div class="row">
                        <div class="col-6 info v-center">
                            <h5>Nombre:</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>{{restaurant.name}}</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>Dirección:</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>{{restaurant.address}}</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>Mesas:</h5>
                        </div>
                        <div class="col-6 info v-center">
                            <h5>{{restaurant.countTables}}</h5>
                        </div>
                        <div class="col-12 info center">
                            <h5>Horario:</h5>
                        </div>
                        <div class="col-6 info center">
                            <h5>{{restaurant.dateStart}}</h5>
                        </div>
                        <div class="col-6 info center">
                            <h5>{{restaurant.dateEnd}}</h5>
                        </div>
                        <div class="col-12 info text-center cont-btn">
                            <a [routerLink]="['/restaurant-info']">
                                <button class="btn e-button"> <i class="far fa-edit"></i> Editar Información</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <div class="col-12 text-center my-3">
        <button class="btn r-button" (click)="closeSession()"> <i class="fas fa-sign-out-alt"></i> Cerrar
            Sesión</button>
    </div>
</div>
<app-bottom-navigation [user]="user"></app-bottom-navigation>